.card {
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  padding: 22px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  background: #dbeafe;
  color: #2563eb;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.id {
  background: #eff6ff;
  color: #2563eb;

  padding: 6px 10px;

  border-radius: 8px;

  font-size: 12px;
  font-weight: bold;
}

h3 {
  margin: 18px 0;
  color: #17233b;
}

.datos p {
  color: #64748b;
  font-size: 14px;

  margin: 10px 0;
}

.acciones {
  display: flex;
  gap: 10px;

  margin-top: 20px;

  border-top: 1px solid #e2e8f0;

  padding-top: 15px;
}

button {
  border: none;
  padding: 9px 14px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: bold;
}

.btn-editar {
  background: #f59e0b;
  color: white;
}

.btn-eliminar {
  background: #ef4444;
  color: white;
}

button:hover {
  opacity: 0.85;
}